@{
    ViewBag.Title = "Email Verification";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thenks fo verification! @Html.ActionLink("Click here for enter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
